// Variables

body {
    width: 100%;
    height: 100%;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $light;
    background-color: $dark;
}

html {
    width: 100%;
    height: 100%;
}

// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    //text-decoration: none;
    text-decoration: underline;
    color: darken($primary, 20%);
}

.light {
    font-weight: 400;
}

// Full Page Image Intro Section

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: $light;
    //background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    //background: url(../img/intro-background-mono.jpg) no-repeat bottom center scroll;
    background: url(../img/gary-mono.png) no-repeat bottom center scroll;
    background-color: $dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
        background: rgba(0, 0, 0, 0.5);
    }
}

.work {
    @extend .intro;
    //background: url(../img/work-wherecamp-mono.jpg) no-repeat bottom center scroll;
    background: url(../img/work-wherecamp-mono.png) no-repeat bottom center scroll;

    .heading, p {
        background: rgba(0, 0, 0, 0.5);
    }

    .heading {
        padding: 0 10px 0 10px;
    }
}

.relax {
    @extend .intro;
    //background: url(../img/relax-bilbao-mono.jpg) no-repeat bottom center scroll;
    background: url(../img/relax-bilbao-mono.png) no-repeat bottom center scroll;

    .heading, p {
        background: rgba(0, 0, 0, 0.5);
    }

    .heading {
        padding: 0 10px 0 10px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid $light;
    border-radius: 35px;
    font-size: 40px;
    color: $light;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: $light;
    background: rgba(255,255,255,0.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.btn-circle-dark {
    color: $dark;
    border-color: $dark;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

// Content Sections

.content-section {
    padding-top: 100px;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    #map {
        //height: 400px;
        height: 100%;
        margin-top: 250px;
    }
}

// Buttons

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid $primary;
    outline: none;
    color: $dark;
    background-color: $primary;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons > li {
    padding: 0 0 10px 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(255,255,255,0.2);
}
