@import "variables";
$icon-font-path: "/fonts/bootstrap/";
@import "bootstrap";

@import "archive-colors";
@import "navigation";

@media(min-width:767px) {
	.navbar {
		background-color: $dark;
	}
}

@media(max-width:767px) {
	.btn-primary {
		margin-bottom: 10px;
	}
}

@import "1-col-portfolio";
@import "quotes";
@import "footer";
