services:
  site:
    image: sebp/lighttpd
    networks:
      - {{ traefik_network }}
    expose:
      - 80
    restart: unless-stopped
    tty: true
    volumes:
        - {{ deploy_root }}/{{ site_bare }}/public:/var/www/localhost/htdocs
    labels:
      - traefik.enable=true
      - traefik.http.routers.garygale.rule=Host(`{{ site_fqdn }}`) || Host(`{{ site_bare }}`)
      - traefik.http.routers.garygale.entrypoints=websecure
      - traefik.http.routers.garygale.tls.certresolver=reverse-proxy
      - traefik.http.routers.garygale.tls.options=proxy-default@file
      - traefik.http.routers.garygale.middlewares=secHeaders@file

networks:
    {{ traefik_network }}:
      external: true
